/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    margin: 0;
    padding: 0;
    font-family:"Roboto";
}

nav{

position: fixed;
display: flex;
justify-content: space-between;
width: 100%;
height: 50px;
padding: 20px 0px;
background-color: white;
align-items: center;
}

nav > img{
    height: 50px;
    padding-left: 20px;
}

nav > ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
    
}

nav li{
    padding: 30px 25px;

}

.landing{
    background-image: url(/images/landing.jpg);  
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;

}

.landing h1{
    font-size: 5rem;
}

.landing h2{
    font-weight: 400;
}

.services img{
    width: 100px;
}

#whatsOn{
    text-align: center;
    height: 50vh;
    padding-top: 30px;
}

.services{
    display:flex;
    align-items:center;
    justify-content: center;
    height: 80%;
}

.services > div{
height: 60%;
width: 30%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items:center;
}

.services p{
    width:60%;
}

#whatsOn h2{
    border-bottom: 4px solid #1AB16A;
    width: 15%;
    margin: auto;
    padding-bottom: 5px;

}

.services h3{
    color: #1AB16A;
    font-size: 1.5rem;
}

#kanye{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: #1AB16A;
    margin: 0 30px;
    color: white;
    font-size: 1.5rem;
    
}

#kanye h2{
    border-bottom: 4px solid white;
    width:fit-content;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
}

#kanye div{
    width: 60%;
}


#kanye img{
    width: 10%;
}

#kanye p{
    width:60%;
    font-weight:100px;
}

#kanye div *{
    padding: 20px;
}

#spotifyLogo{
    position: absolute;
    }


